<style type="text/css">
		#demo-frame > div.demo { padding: 10px !important; }
		#eq span {
			height:120px; float:left; margin:15px
		}
	</style>
<div class="demo">

<p class="ui-state-default ui-corner-all ui-helper-clearfix" style="padding:4px;">
<span class="ui-icon ui-icon-volume-on" style="float:left; margin:-2px 5px 0 0;"></span>
Master volume
</p>

<div id="master" style="width:260px; margin:15px;"></div>

<p class="ui-state-default ui-corner-all" style="padding:4px;margin-top:4em;">
<span class="ui-icon ui-icon-signal" style="float:left; margin:-2px 5px 0 0;"></span>
Graphic EQ
</p>
<p>
	<label for="ip">Ip</label>
	<input type="text" name="ip" value="190.164.164.193" id="ip">
</p>
<p>
	<label for="ip">Port</label>
	<input type="text" name="ip" value="3002" id="port">
</p>

<div id="eq">
	<span path="eq-1">88</span>
	<span path="eq-2">77</span>
	<span path="eq-3">55</span>

	<span path="eq-4">33</span>
	<span path="eq-5">40</span>
	<span path="eq-6">45</span>
	<span path="eq-7">70</span>
</div>

</div><!-- End demo -->



