<div class="clear span-24 last" style="text-align: right;">OSC PURE RUBY &#x2318; Miguel Michelson 2010 <br/> 
	<span class="small">Powered by 
		<a  href="http://sinatrarb.com">Sinatra</a>,
		<a	href="http://jquery.com">Jquery</a>,
		<a href="http://jqueryui.com/"> Jquery-Ui</a>  and  running on 
		<a href="http://heroku.com">Heroku</a>
		</small>
</div>