<form action="/arg" method="post" accept-charset="utf-8">

	<p>
		<label for="">IP</label>
		<input type="text" name="ip" value="190.164.164.193" id="">
	</p>
	<p>
		<label for="">PORT</label>
		<input type="text" name="port" value="3002" id="">
	</p>
	<p>
		<label for="">Path</label>
		<input type="text" name="path" value="/v" id="">
	</p>
	
	<p><label for="">Value</label>
		<input type="text" name="num" value="2" id="">
	</p>
	
	<p><input type="submit" value="Continue &rarr;"></p>
</form>