<div class="span-7 last"><div class="box">
	<p class="ui-state-default ui-corner-all" style="padding:4px;">
	<span class="ui-icon ui-icon-signal" style="float:left; margin:-2px 5px 0 0;"></span>
	Set Ip and Port
	</p>
	<p>
		<label for="ip">Ip</label><br/>
		<input type="text" name="ip" value="190.164.164.193" id="ip" class="text ui-widget-content ui-corner-all sidebar-input" />
	</p>
	<p>
		<label for="ip">Port</label><br/>
		<input type="text" name="ip" value="3002" id="port" class="text ui-widget-content ui-corner-all sidebar-input" />
	</p>
	
	
	
</div></div>
