<div class="span-7 last"><div class="box">
	<p>Ip & Port data</p>
	<p>
		<label for="ip">Ip</label>
		<input type="text" name="ip" value="190.164.164.193" id="ip">
	</p>
	<p>
		<label for="ip">Port</label>
		<input type="text" name="ip" value="3002" id="port">
	</p>
	
	
	
</div></div>
